<mat-toolbar color="primary">

  <button mat-button (click)="sidenav.open()" ><mat-icon>menu</mat-icon></button>
  <span style="font-family: Arial, Helvetica, sans-serif">cloud</span>
  <span style="font-family: 'Arial Black', Gadget, sans-serif">OVERLOAD</span>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>

</mat-toolbar>


<mat-menu #appMenu="matMenu">
  <button mat-menu-item>
    Data Source: <a href="https://newsapi.org/" target="_blank">NewsAPI.org</a>
  </button>
</mat-menu>



<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
        <mat-list-item class="list-item" *ngFor="let vendor of mVendors" (click)="searchArticles(vendor.code);sidenav.close();">

          <span class="source-name"> {{vendor.name}}</span>

        </mat-list-item>
    </mat-list>
  </mat-sidenav>


  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title class="title">
        Welcome to cloudOVERLOAD.com!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        We are adding new features to this site before its final launch.
        For now, this is a daily summary of interesting cloud related news.
        Check back soon!
      </p>
    </mat-card-content>
    </mat-card>

    <mat-card class="example-card"  *ngFor="let article of mArticles"
            (click)="onClick(article)">
    <mat-card-header>
 <!--
      <div mat-card-avatar
           [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}"
      </div>
  -->

      <mat-card-title class="title">
        <a href={{article.url}}>{{article.title}}</a>
      </mat-card-title>
      <mat-card-subtitle>{{article.source}}</mat-card-subtitle>
    </mat-card-header>
    <!--
          <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
    -->

       <mat-card-content>
         <p>
           {{article.summary}}
         </p>
       </mat-card-content>

          <mat-card-actions class="action-buttons">
            <!--
            <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
            <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
            <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
            -->
         <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon>
           Read Article
         </a>
       </mat-card-actions>
     </mat-card>

   </mat-sidenav-container>




